#menu {
	position: fixed;
	top: 5vh;
	left: 5vh;
	width: 40vw;
	height: 50vh;
	overflow: auto;
}

canvas {
	position: absolute;
	background-color: transparent;
}

#conteneurJeu {
	position: fixed;
	top: 2.5vh;
	right: 2.5vw;
	width: 90vh;
	height: 90vh;
	background-color: #bbb;
	border: 2px solid cadetblue;
}

#conteneurGraphe {
	position: fixed;
	bottom: 7.5vh;
	left: 2.5vw;
	width: 40vw;
	height: 35vh;
	background-color: #bbb;
	border: 2px solid cadetblue;
}

#grapheCanvas, #outilGraphe {
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

#infoGraphe {
	position: absolute;
	top: -20px;
}

body {
	background-color: #ddd;
}

